/* ==========================================================================
   Global
   ========================================================================== */

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Palatino, sans-serif;
    color: #181818;
}

/**
 * From twitter bootstrap
 */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ==========================================================================
   Front
   ========================================================================== */

.front {
    display: block;
    width: 400px;
    height: 150px;
    background: rgb(110, 144, 93);
    border-radius: 10px;

}

/* ==========================================================================
   Layout
   ========================================================================== */

.grid {
    display: flex;
    display: -webkit-flex;
}

.grid__cell {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}

/* ==========================================================================
   Headings
   ========================================================================== */

h1 {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    padding: 3px 0;
    margin: 0 0 10px;
}

/* ==========================================================================
   Dividers
   ========================================================================== */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   Form elements
   ========================================================================== */

input {
    font-size: 17px;
    width: 100px;
}